{%- set ingress_pods = [] -%}
{%- set registry_pods = [] -%}
{%- set monitoring_pods = [] -%}
{%- set user_monitoring_pods = [] -%}
{%- set logging_pods = [] -%}
{%- set rhacs_pods = [] -%}
{%- set gitops_pods = [] -%}
{%- set cnv_pods = [] -%}
{%- set istio_pods = [] -%}

{%- for pod in _all_pod -%}
  {%- set daemonset_pod = false -%}
  {%- set has_nodename = false -%}
  {%- set master_node_pod = false -%}

  {%- if pod.metadata.ownerReferences is defined and pod.metadata.ownerReferences[0].kind == 'DaemonSet' -%}
    {%- set daemonset_pod = true -%}
  {%- endif %}

  {%- if pod.spec.nodeName is defined -%}
    {%- set has_nodename = true -%}
    {%- if pod.spec.nodeName in _master_nodes -%}
      {%- set master_node_pod = true -%}
    {%- endif -%}
  {%- endif -%}

  {# exclude: daemonSet pods, pods on master nodes, and pod with no nodeName (not scheduled yet) #}
  {%- if not daemonset_pod and not master_node_pod and has_nodename -%}
    {# only if pod not on infra nodes #}
    {%- if pod.spec.nodeName not in _infra_nodes -%}

      {# ingress router #}
      {%- if pod.metadata.namespace == 'openshift-ingress' -%}
        {%- set _ = ingress_pods.append(pod.metadata.name) -%}

      {# image registy #}
      {%- elif pod.metadata.namespace == 'openshift-image-registry' -%}
        {%- set _ = registry_pods.append(pod.metadata.name) -%}

      {# monitoring #}
      {%- elif pod.metadata.namespace == 'openshift-monitoring' and '-operator-' not in pod.metadata.name -%}
        {%- set _ = monitoring_pods.append(pod.metadata.name) -%}

      {# user workload monitoring #}
      {%- elif pod.metadata.namespace == 'openshift-user-workload-monitoring' -%}
        {%- set _ = user_monitoring_pods.append(pod.metadata.name) -%}

      {# logging #}
      {%- elif pod.metadata.namespace == 'openshift-logging' -%}
        {%- set _ = logging_pods.append(pod.metadata.name) -%}

      {# rhacs #}
      {%- elif pod.metadata.namespace in ['rhacs-operator', rhacs_namespace] -%}
        {%- set _ = rhacs_pods.append(pod.metadata.name) -%}

      {# gitops #}
      {%- elif pod.metadata.namespace in ['openshift-gitops-operator', 'openshift-gitops'] -%}
        {%- set _ = gitops_pods.append(pod.metadata.name) -%}

      {# virtualization #}
      {%- elif pod.metadata.namespace == 'openshift-cnv' -%}
        {%- set _ = cnv_pods.append(pod.metadata.name) -%}

      {# service_mesh #}
      {%- elif pod.metadata.namespace in ['istio-system', 'openshift-distributed-tracing'] -%}
        {%- set _ = istio_pods.append(pod.metadata.name) -%}

      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

ingress: {{ ingress_pods }}
registry: {{ registry_pods }}
monitoring: {{ monitoring_pods }}
user_monitoring: {{ user_monitoring_pods }}
logging: {{ logging_pods }}
rhacs: {{ rhacs_pods }}
gitops: {{ gitops_pods }}
cnv: {{ cnv_pods }}
istio: {{ istio_pods }}
