---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  labels:
    app: readiness-test
    component: mongodb
type: Opaque
stringData:
  mongodb-root-username: {{ mongodb_root_username }}
  mongodb-root-password: {{ mongodb_root_password }}
  setup-script.js: |
    client = connect("mongodb://{{ mongodb_root_username }}:{{ mongodb_root_password }}@127.0.0.1:27017");

    // create database
    db = client.getSiblingDB('namegen');

    // create user if not exist
    user = db.getUser('{{mongodb_app_username  }}');
    if ( user === null ) {
      db.createUser({
        user: '{{ mongodb_app_username }}',
        pwd: '{{ mongodb_app_password }}',
        roles: [{role: 'readWrite', db: 'namegen'}, 'readWrite']
      })
    }
...
