---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ cc_service_account }}
  namespace: {{ cc_namespace }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-capacity-role
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - nodes
      - persistentvolumeclaims
      - persistentvolumes
      - services
      - replicationcontrollers
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - apps
    resources:
      - replicasets
      - statefulsets
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - watch
      - list

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-capacity-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-capacity-role
subjects:
  - kind: ServiceAccount
    name: {{ cc_service_account }}
    namespace: {{ cc_namespace }}
...
